.cat-bowl {
  background: linear-gradient(to top, #ffe66d 50%, transparent 50%);
}

.paypal {
  box-shadow: 5px 5px 3px 2px rgba(99, 99, 99, 0.8);
  transition-duration: 0.1s;
}

.paypal:hover {
  margin-left: 3px;
  margin-top: 3px;
  box-shadow: none;
}

.manu-cat {
  color: #000;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

.manu-cat:after {
  display: block;
  content: "";
  border-bottom: solid 5px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.manu-cat:hover:after {
  transform: scaleX(1);
}

.manu-cat:after {
  transform-origin: 0% 50%;
}

.frame {
  transform: rotateY(180deg);
}
