<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="kqqkhp2ryq" />
        <activity
            android:name=".detailDish.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".management.CreateManagementActivity"
            android:exported="false" />
        <activity
            android:name=".management.DetailManagementActivity"
            android:exported="false" />
        <activity
            android:name=".management.DetailManagementEdit"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".detailDish.tap3.VisiteCatActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".detailDish.tap2.DIshCat"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".detailDish.tap1.DetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>